<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Meaning Cloud Fectching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7ac5842e39.js" crossorigin="anonymous"></script>
  
</head>

<body>
  <header>
        <div class="logo">
            <a href='https://pngtree.com/so/creative'><img src="images/logo1.png"  />
                <p>pngtree.com</p></a>
               
        </div>
        <div> <p><a href="https://www.flaticon.com/free-icons/gallery" title="gallery icons">Kiranshastry</a></p></div>
        <div class="menu-container">
            <input type="checkbox" id="check" >
            <label for="check" id="checkbtn"><i class="fa-solid fa-bars" ></i></label>
            <ul class="menu">
                <li><a class="button">Home</a></li>
                <li><a class="button">Contact</a></li>
                <li><a class="button">About</a></li>
            </ul>
        </div>
    </header>

    <main class="container">
        
         
   <section id="form-adding-trip">
                <fieldset id="trips-fields">
                    <legend>Add Trip:</legend>
                    <div class="trips-fields-inputs">
                        <input id="trip-number" type="text" name="trip-number" value=""  placeholder="Trip number">
                        <button id="add-trip-btn" onclick="return Client.generateTrip(event)"> Add trip </button>
                        <span id="feedback-trip" class="error-mesg"></span>
                     </div>
                </fieldset>
                <form id="main-form" onsubmit="return Client.addDestination(event)">
                    <fieldset id="trips-fields">
                        <legend>Details:

                            <label for="cars">Choose a trip:</label>

                            <select id="added-trips">
                                    <option value="1">Seclect ...</option>      
                            </select>
                        </legend>

                    <input id="city" type="text" name="city"  class="input-city" placeholder="City">
                    <input id="departure" type="date" name="departure" class="departure-date" placeholder="Departure">
                    <button  id="add-segment-btn"  onclick="return Client.addSegmentToTrip(event)" > Add segment to selected trip</button>
                    <span id="feedback-segment" class='error-msg'></span>    
                </fieldset>
                </form>
      
       <fieldset id="trips-fields-list">
            <h1><b>Trips List</b></h1>
            <div id="list-trips">
           
            </div>
        </fieldset>

    </section>
        

    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
</body>

</html>